body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    /* background-color:burlywood; */
    background-image: url(https://www.campusfrance.org/sites/default/files/styles/desktop_visuel_principal_page/public/medias/images/2022-02/Ocean.jpg?itok=I5_gsLrA);
    background-repeat: no-repeat;
    background-size: cover;
}
h2{color:blue;
background-color: bisque;
}
.title{
    color:aliceblue;
    background-color: blueviolet;
}
#paragraph1{
    background-color: aquamarine;
    color:black;
}
#paragraph2{
    color:black;
    background-color:azure;
    border-color: aqua;
    border-width: 10px;
    border-style: ridge;
    padding: 10px;
    margin: 20p;
}
.container{
    width: 500px;
}
a{
    text-decoration: dashed;
}
a:hover{
    font-size: larger;
    color: chartreuse;
}
a:visited{
    color: rgb(71, 61, 46);
}
.picture{
    width: 300px;
}
button{
    height: 50px;
    width: 150px;
    background-color:mistyrose;
    color: blueviolet;
    font-size: x-large;
    border-radius: 50%;
    border:none;
}
button:hover{
    background-color: blue;
    color: antiquewhite;
    cursor:zoom-in;
border: 3px dashed cyan;
}