body{
   background-color: #dfb361;
    margin: 0;
}
.navbar{
    background-color: #a75377;
    display: flex;
    color: #f5eb82;
}
.title{
    display: flex;
    font-family:'Courier New', Courier, monospace;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 5px;
}
.title #logo{
    
    margin: 5px;
}
.nav{
    width: 100%;
    margin-block-end: auto;
    

}
.nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
    list-style: none;
}
.nav ul>li>a{
    color: #f5eb82;
    text-decoration: none;
}

.dropbtn{
    background-color: #a75377;
    color: #f5eb82;
    border: none;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    
}
.dropbtn:hover, .dropbtn:focus{
    border:#b48f4a solid 2px;
}
.dropdown {
    float: right; 
    position: relative;
    display: inline-block;
  }
.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f5eb82;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.dropdownContent a {
  color: #a75377;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px; 
  }
.dropdown a:hover {
    border:#a75377 solid 2px;
}

.show {
    display:block;
}
/* 
#linkbox{
    display: none;
    height: 100px;
    width: 100px;

} */


main{
    width: 100%;
    display: flex;
  
}
.content{
    background-color:#d3775d;
    margin: 30px;
    width: 40%;
    color: #f5eb82;
    
}
h2{
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.collapsible{
    background-color:#a75377;
  color:#f5eb82;
  height: 60px;
  cursor: pointer;
  padding: 18px;
  margin: 8px;
  width: 95%;
  border-style: outset;
  display: flex;
  text-align: center;
  justify-content: center;
  outline: none;
  font-size: 25px;
}

.collapsible:hover{
    background-color: #dfb361;
    color:#a75377;
}
.entry{
    padding: 0 18px;
    text-align: center;
    display: none;
    overflow: hidden;
    background-color:#dfb361;
    color: #a75377;
    border:#d3775d solid 3px;
}


.content2{
    width: 55%;
    
}
.nameForm{
    display: flex;
    flex-direction: row;
}
#name{
    margin: 10px;
    height: 30px;
    width: 250px;
    font-size: large;
}

#inputName{
    font-size: 30px;
}
#nameSubmit{
    margin: 10px;
    height: 28px;
    width: 100px;
    font-size: large;
    background-color:#d3775d;
    color:#f5eb82;
}
#photo{

    width: 90%;
    padding: 30px;
    border-radius: 8%;
    
}
/* contact page */
.contact{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.contInfo{
 width: 40%;
 
}
.icon{
    padding:30px;
    margin: 30px;
    
}
table{
    width: 100%;
    margin: 45px;

    background-color: #d3775d;
    border: #d3775d 10px solid;
    border-collapse: collapse;
    box-shadow: 10px 10px 5px #b48f4a;

}



th, td{
    
    
     border: #dfb361 2px solid;
 
      
  }
  th:nth-child(1), td:nth-child(1){
    text-align: center;
}
th:nth-child(2), td:nth-child(2){
    text-align: center;
}
  th{
    color: #f5eb82;
      font-size: 25px;
  }
  td{
    color: #f5eb82;
    font-size: 22px;
  }
  td a{
      color: #f5eb82;
  }
.picture{
    width: 60%;
    display:flex;
    justify-content: center;

}
#beePic{
    height: 600px;
  
    margin: 50px;
    border-radius: 8%;
}
footer{
    position: sticky;
    bottom: 0%;
    width: 100%;
    background-color: #a75377;
    display: flex;
    justify-content: space-evenly;
    color: #f5eb82;

}
footer h5{
    width: 40%;
    text-align:start;

}
footer ul{
    width: 20%;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    align-items: center;

}
footer ul>li>a{
    color: #f5eb82;
    text-decoration: none;
}