header{
    background-color: #35635b;
    
}

#icon{
    height: 25px;
    width: 25px;
    margin: 20px;
}
#title{
    color: #e5f1e3;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    width: 40%;

}
#navbar{
    width: 60%;
    color: #e5f1e3;
    list-style: none;
    font-size: 30px;
}
#nav{
    display: flex;
    justify-content: right;
    font-size: 25px;   
}
#nav>li{
    margin-right: 90px;
    
}
#nav>li>a{
    text-align:end;
    text-decoration: none;
    color: #e5f1e3;
}
#nav>li>a:hover{
    color:#a3cd9e;
}
li{
    list-style: none;
    color: #35635b;
}

body{
    background-color: #a3cd9e;
    width: 100%;
}
.container{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}
.sidebar{
    background-color: #529471;
    width: 40%;
}

button{
    height: 50px;
    width: 300px;
    background-color: #e5f1e3;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 3px solid #35635b; 
    margin: 10%;
    align-content: center;

}
button li>a{
    font-size: 50px;
    color: #35635b;
}
button:hover{
    background-color: #a3cd9e;
    color: #529471;
    border: 3px solid black;
}
.picture{
    height: 100px;
    width: 100px;
}
#table th, #table td, #table{
    border: none;
    
   
}
#table{
    background-color: #529471;
    width: 100%;
    margin: 5%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#table th, #table td{
    border-right: 3px solid #35635b;

    border-bottom: 3px solid #35635b;
}
.container{
    margin: 30px;
    margin-top: 50px;
    display: flex;

}